@import url("https://fonts.googleapis.com/css2?family=Inter&family=Manrope:wght@200;400&display=swap");

//constants

@mixin input-style {
  width: 100%;
  height: 38px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.12);
  color: white;
  font-size: 18px;
  padding: 10px;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
@mixin input_label-style {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 12px;
}

@mixin ellipse-style {
  position: absolute;
  width: 240px;
  filter: blur(150px);
  transition: all 6s ease;
}

@mixin gradient-border {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: $border-radius;
  border: 1px solid transparent;
  background: $linear-gradient-light;

  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

@mixin gradient-light-inner {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  background: $linear-gradient-light;
  border-radius: 12px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 350;
  line-height: 20px;
  letter-spacing: 0.5px;
}

$border-radius: 19px;
$linear-gradient-light: linear-gradient(
    93.2deg,
    #93f3f2 2.64%,
    #b5a7fd 32.73%,
    #dcaccf 70.32%,
    #fbc197 97.36%
  )
  border-box;

$linear-gradient-dark: linear-gradient(
  118.79deg,
  rgba(255, 255, 255, 0.06) 14.72%,
  rgba(255, 255, 255, 0.1) 53.94%,
  rgba(255, 255, 255, 0.07) 92.4%
);

$box-shadow-component: 0px 4px 24px rgba(67, 67, 67, 0.25);

//auth
.auth {
  background: rgba(31, 31, 36, 1);
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  &_label {
    z-index: 1;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(90deg, #5195af 0.25%, #a3a2ba 100.25%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 2px transparent;
    color: rgb(54, 31, 64);
    letter-spacing: 1px;
  }
  &_form {
    z-index: 1;
    box-sizing: border-box;
    width: 434px;
    height: 210px;
    border-radius: $border-radius;
    padding: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: $linear-gradient-dark;
    background-blend-mode: luminosity;
    box-shadow: $box-shadow-component;
    backdrop-filter: blur(10px);

    &:before {
      @include gradient-border;
    }

    &_email {
      &_label {
        @include input_label-style;
      }
      &_input {
        @include input-style();
      }
    }
    &_password {
      &_label {
        @include input_label-style;
      }
      &_input {
        @include input-style;
      }
    }
    &-error {
      animation-name: form-error;
      animation-duration: 0.5s;
      &:after {
        background-color: rgba(255, 0, 0, 0.242);
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $border-radius;
      }
    }
    &_hash {
      position: absolute;
      right: 15px;
      top: 12px;
      color: white;
      font-family: sans-serif;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition-duration: 1s;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
    &_hash-empty {
      background: #893838fa;
    }
    &_hash-filled {
      background: #38894efa;
    }
  }

  &_submit {
    width: 213px;
    height: 40px;
    @include gradient-light-inner;
    &:hover {
      cursor: pointer;
      color: #ffffff;
      box-shadow: 0px 4px 24px rgba(188, 188, 188, 0.25);
    }
    &_label {
      font-family: sans-serif;
      font-size: 16px;
      font-weight: 350;
      line-height: 20px;
      letter-spacing: 0.5px;
    }
  }

  //ellipse

  &_ellipse1 {
    @include ellipse-style;
    left: calc(50% - 540px / 2 - 337px);
    top: 84px;
    background: #340f4b;
    height: 357px;
  }
  &_ellipse2 {
    @include ellipse-style;
    left: calc(50% - 540px / 2 + 438px);
    top: 346px;
    background: #574696;
    height: 540px;
  }
}

// addressEOA

.address {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  width: 263px;
  height: 58px;
  background: $linear-gradient-dark;
  border-radius: $border-radius;
  backdrop-filter: blur(10px);
  box-shadow: $box-shadow-component;
  box-sizing: border-box;
  &:before {
    @include gradient-border;
  }
  &_number {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #e8e8e8;
  }
  &_copy {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }
  &-no {
    color: white;
    width: 263px;
    height: 58px;
    @include gradient-light-inner;
  }
}

//notify

.notify {
  animation-name: notify;
  animation-duration: 0.5s;
  position: absolute;
  top: 50px;
  right: 50px;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  width: 300px;
  height: 100px;
  background: rgba(225, 36, 36, 0.267);
  display: flex;
  align-items: center;
  gap: 20px;
  box-sizing: border-box;
  padding-left: 20px;
  z-index: 2;
  &_icon {
    color: rgb(115 54 54);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgb(216, 215, 215);
    width: 30px;
    height: 30px;
  }
  &_info {
    color: rgb(224, 219, 219);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &_title {
      font-size: 20px;
    }
  }
}

//Tooltip

@keyframes notify {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes form-error {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5%);
  }
  40% {
    transform: translateX(5%);
  }
  60% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(5);
  }
  100% {
    transform: translateX(0);
  }
}
