body {
  margin: 0;
  .app {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .input {
      width: 500px;
      &_label {
        text-align: center;
        font-size: 40px;
      }
      &_form {
        display: flex;
        &_field {
          font-size: 20px;
          width: 460px;
        }
        &_btn {
          border: 1px solid black;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .address {
      position: absolute;
      top: 10px;
      left: 10px;
      font-weight: 700;
    }
  }
}
